
.container{
    width: 1024px;
    margin:auto;
    
}
/*header styles*/


/*menu styles*/

/*search*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* properties styles */
.properties{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.immobile{
    padding-top: 0;
    margin: auto;
    border-radius: 30px;


    
}
.immobile p{
    float: left;
    font-size: 15px;
    margin-right: 22px;
    position: relative;
    
}
.immobile img{
    width: 236px;
    height: 230px;
    border-radius: 20px;
}
.immobile img:hover{
    transition: .2s;
    opacity: 0.8;
}


/* mensagem bonita styles */

.aboutmensagembonita {
    padding: 35px;
    height: 100%;
    border-radius: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-style: solid;
}

.aboutmensagembonita h1{
    font-family: sans-serif;
    margin-bottom: 25px;
    font-style: italic;
    width: 100%;

}


.aboutmensagembonita p{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    margin: 0px;

    width: 100%;

    font-style: italic;
    text-align: justify;
    padding-bottom: 20px;
    
}

.submessage {
    font-weight: bold;
}


.aboutmensagembonita img{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;    
}



/* footer styles */
