
.container{
    width: 1024px;
    margin:auto;
    
}
/*header styles*/
header{
    width: 100%;
    height: 100px;
}
.topo{
    color: white;   
    height: 30px;
    background-color: #414141;
    text-align: right;
}
.topo p{
    font-size: 15px;
    font-weight: bold;
    float: right;
    margin-left: 60px;
    vertical-align: middle;
    line-height: 30px; 
}

/*menu styles*/

.menu{
    background-color: #EFEFEF;
    height: 70px;
    

}
.menu a{
    margin-top: 0px;
    line-height: 70px;
    
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #959595;
    text-decoration: none;
    float: right;
    font-family: 'Roboto',sans-serif;
    
}
.menu a:hover{
    color: black;
    transition: .3s;
}
.menu img{
    margin-top: 5px;
    float: left;
    width: 200px;
    
}
.menu p{
    margin-top: 50px;
    margin-left: 10px;
    float: left;
}

/*main styles*/
/*image*/
.postcard{
    background:#fff url(../../assets/fundo.jpg);
    background-position:0px;
    background-size: 1800px;
    height: 450px;
}
.postcard p{
    padding-top: 190px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 5px black; 
}
/*search*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.search{
    margin: 20px auto 10px auto;
    border-radius: 10px;
    background-color: white;
    width: 1024px;
    height: 35px;
}
.search p{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}
.search form{
    text-align: center;
    vertical-align: middle;
    line-height: 33px; 

}

.search form input{
    border-radius: 10px;
    font-size: 20px;
}

.search img{
    
    width: 19px;
}

.destacado{
    margin: 100px 0 59px 0;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
/* properties styles */
.properties{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.immobile{
    padding-top: 0;
    margin: auto;
    border-radius: 30px;


    
}
.immobile p{
    float: left;
    font-size: 15px;
    margin-right: 22px;
    position: relative;
    
}
.immobile img{
    width: 236px;
    height: 230px;
    border-radius: 20px;
}
.immobile img:hover{
    transition: .2s;
    opacity: 0.8;
}


/* mensagem bonita styles */

.aboutmensagembonita {
    padding: 35px;
    height: 100%;
    border-radius: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-style: solid;
}

.aboutmensagembonita h1{
    font-family: sans-serif;
    margin-bottom: 25px;
    font-style: italic;
    width: 100%;

}


.aboutmensagembonita p{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    margin: 0px;

    width: 100%;

    font-style: italic;
    text-align: justify;
    padding-bottom: 20px;
    
}

.submessage {
    font-weight: bold;
}


.aboutmensagembonita img{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;    
}



/* footer styles */
