.contactSection{
    width: 100%;
    height: 600px;
    background-color: #254467;
    font-family: 'Lato',sans-serif;
}

.contactSection form{
    width: 500px;
    margin: auto;
}

.contactSection p{
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: bold;
    line-height: 80px;
}
.campoInputLogin{
    text-align: center;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin: 10px 10px 0 10px;
}
.campoInputMessage{
    min-width: 100%;
    max-width: 100%;
    min-height: 160px;
    max-height: 160px;
    height: 30px;
    border-radius: 5px;
    margin: 10px 10px 0 10px;
}
.btnInput{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin: 10px 10px 0 10px;
}

