
.container{
    width: 1024px;
    margin:auto;
    
}
/*header styles*/

/*menu styles*/

/*main styles*/
/*image*/
.postcard{
    background:#fff url(../../assets/fundo.jpg) no-repeat center;
    height: 450px;
    width: 100%;
}
.postcard p{
    padding-top: 190px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 5px black; 
}

.destacado{
    margin: 20px 0px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
/* properties styles */
.properties{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}
.immobile{
    padding-top: 0;
    margin: auto;
    border-radius: 30px;
    


    
}
.immobile p{
    float: left;
    font-size: 15px;
    margin-right: 22px;
    position: relative;
    
}
.immobile img{
    width: 236px;
    height: 230px;
    border-radius: 20px;
}
.immobile img:hover{
    transition: .2s;
    opacity: 0.8;
}


/* mensagem bonita styles */

.mensagembonita {
    padding: 35px;
    height: 350px;
    border-radius: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-style: solid;
}

.mensagembonita h1{
    font-family: sans-serif;
    margin-bottom: 25px;
    font-style: italic;

}


.mensagembonita p{
    font-weight: bold;
    font-family: sans-serif;
    margin: 0px;
    float: left;
    width: 65%;
    padding-right: 5%;
    font-style: italic;
    text-align: justify;
    padding-bottom: 20px;
    
}
.mensagembonita img{
    width: 30%;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
}



/* footer styles */
