.immobileContent{
    display: flex;
    justify-content: space-between;
}
.immobileleftSection{
    width: 70%;
}
.immobileDivTitle{
    display: flex;
    justify-content: space-between;
    margin: 55px 0 24px 0px;
    font-family: 'Lato',sans-serif;
    height: 80px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #254467;
}

.immobileRef{
    font-size: 14px;
}

.immobilePhotoSection .immobilePhotos{
    margin-top: 40px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 475px;
    display: block;
}

svg{
    fill: #254467;
}

.immobilePhotoSection .immobilePhotos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    column-gap: 1px;
}
.immobilePhotoSection .immobilePhotos img{
    width: 100%;
    height: 133px;
    object-fit: cover;
    
}

.immobileDescription{
    color: #959595;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    margin: 20px 0;
    
}

.immobileRightSection{
    width: 28%;
    background-color: #EFF2F4;
    border-radius: 0 0 10px 10px;
    height: 630px;
    
}


.columnName2{
    font-size: 14px;
    font-weight: bold;
}

.tituloAtributo{
    color: #254467;
    margin: 0 0 0 24px;
    font-size: 14px;
    font-weight: bold;
}
.valorAtributo{
    color: black;
    font-size: 20px;
    margin: 4px 0 30px 24px;
    font-weight: 500;
}

.immobilePrice{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 24px;
}

.immobileInfo table{
    margin-top: 50px;
    margin-bottom: 25px;
}

.columnName{
    text-align: left;
    width: 80px;
    
    font-weight: bold;
}
.columnName2{
    text-align: left;
    width: 200px;
    color: black;
    font-weight: bold;
}

.beginOfIcons .columnName{
    text-align: center;
}

.beginOfIcons{
    height: 50px;
}
.immobileIcon{
    width: 40px;
}


.immobileContact{
    margin: 10px 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 150px;
    border: solid #959595;
    border-radius: 10px;
    
}
.contactIcons{
    display: flex;
    justify-content: space-between;
}
.contactIcon{
    width: 80px;
    margin: 0px 20px;
}

.contatarAnunciante{
    margin-top: 20px;
    padding: 20px;
    height:100px;
}

.contatarAnunciante button{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #254467;
    font-size: 16px;
    color: white;
    font-weight: bold;
    
}